@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* 
shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
}
.container {
  border: 2px solid purple;
  width: 80%;
  max-width: 1440px;
  min-height: 200px;
  margin: 0 auto;
}
.special {
  border-radius: 46px;
  background: #e6533c;
}
section {
  margin-top: 75px;
}
.primary-btn {
  /* 122.222% */
  background: #e6533c;
  border-radius: 45px;
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 17px; /* 122.222% */
  border: 1px solid #fff;
  cursor: pointer;
}
.common-title {
  color: #fff;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 57.6px */
  text-align: center;
}
.common-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 400;
  line-height: 18px; /* 171.429% */
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 10px;
}
/* header starts */
.header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  margin-top: 35px;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-title {
  color: #e6533c;
  font-size: 29px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%; /* 43.2px */
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  padding: 7px 19px;
}
/* banner starts here */
.banner {
  color: #fff;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner-content {
  width: 56%;
}
.banner-content .banner-title {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 93.6px */
}
.banner-content .banner-desc {
  color: rgba(255, 255, 255, 0.5);

  /* body-text */
  font-size: 13px;
  line-height: 18px; /* 150% */
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.banner-content .banner-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.banner-btn .secondary-btn {
  border-radius: 45px;
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 17px; /* 122.222% */
  background-color: #3a3a3a;
  border: 1px solid #fff;
  cursor: pointer;
}
.banner .banner-image {
  position: relative;
  width: 37%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-image .first-border {
  height: 56px;
  width: 145px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  left: -21%;
  top: 82%;
}
.first-border .border-left {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #e6533c;
}
.border-right h3,
.second-border h3 {
  color: var(--Text-1, #fafaf9);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
}

.border-right p,
.second-border p {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));

  /* body-text */
  font-size: 12px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.banner-image .second-border {
  height: 56px;
  width: 145px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 23%;
  left: 57%;
}
/* habit styles */
.habit {
}
.habit .habit-title {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
  text-align: center;
}
.habit .habit-desc {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px; /* 171.429% */
  letter-spacing: 0.3px;
}
.habit .habit-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.habit-container .habit-card {
}
.habit-card img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.habit-card .card-title {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 115%; /* 21.6px */
}
.habit-card .card-desc {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px; /* 128.571% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
/* run section styles */
.run {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px 22px 38px;
  border-radius: 18px;
  background: #222;
}
.run .run-content {
  width: 45%;
}
.run-content .run-title {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  line-height: 110%; /* 57.6px */
}
.run-content .run-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 171.429% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
.run-content .run-btn {
  margin-top: 15px;
}
.run .run-image {
  width: 45%;
}
.run-image img {
  width: 100%;
  border-radius: 15px;
}
/* training starts */
.training {
}
.training .image-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container .image-1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  background: linear-gradient(
      0deg,
      rgba(6, 255, 210, 0.5) 0%,
      rgba(6, 255, 210, 0.5) 100%
    ),
    url("../images/exercise1.jpg") lightgray 50% / cover no-repeat;
}

.image-container .image-2 {
  grid-column: 4 / span 6;
  grid-row: 1 / span 1;
  background: linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.3) 0%,
      rgba(255, 0, 0, 0.3) 100%
    ),
    url("../images/exercise2.png") lightgray -0.336px 0px / 100.125% 111.811% no-repeat;
}
.image-container .image-3 {
  grid-column: 10 / span 3;
  grid-row: 1 / span 1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/exercise3.png") lightgray 50% / cover no-repeat;
}
.image-container .image-4 {
  grid-column: 1 / span 5;
  grid-row: 2 / span 1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/exercise4.png") lightgray 50% / cover no-repeat;
}
.image-container .image-5 {
  grid-column: 6 / span 3;
  grid-row: 2 / span 1;
  background: linear-gradient(
      0deg,
      rgba(66, 255, 0, 0.3) 0%,
      rgba(66, 255, 0, 0.3) 100%
    ),
    url("../images/exercise5.jpg") lightgray 50% / cover no-repeat;
}
.image-container .image-6 {
  grid-column: 9 / span 4;
  grid-row: 2 / span 1;
  background: linear-gradient(
      0deg,
      rgba(0, 71, 255, 0.3) 0%,
      rgba(0, 71, 255, 0.3) 100%
    ),
    url("../images/exercise6.jpg") lightgray 50% / cover no-repeat;
}
/* calcultaor styles */
.calculator {
}

/* chart styles */
.chart-section {
  background: #222;
}
.chart-section .chart {
}
.chart .chart-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
}
.chart-container .chart-left {
  width: 35%;
}
.chart-left .chart-title,
.chart-right .chart-title {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  line-height: 110%; /* 33.6px */
}
.chart-left table {
  margin-top: 30px;
}
.chart-left th {
}
.chart-left td {
}
.chart-left table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 6px 10px;
}

th {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
td {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.chart-container .chart-right {
  width: 60%;
}
.chart-right .chart-desc {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 171.429% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
.chart-right .form-container {
}
.form-container .form-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.form-group .form-control {
  width: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 30px 8px 16px;
  border: 0;
  outline: 0;
  color: gray;
}
.form-btn {
  margin-top: 20px;
}
/* team section styles */
.team .team-container {
  background-color: #222;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.team-container .team-member-1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer1.png") lightgray 50% / cover;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.team-container .team-member-2 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer2.png") lightgray 50% / cover no-repeat;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.team-container .team-member-3 {
  grid-column: 9 / span 4;
  grid-row: 1 / span 1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer3.png") lightgray 50% / cover no-repeat;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.team-container .team-member-4 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer4.png") lightgray 50% / cover no-repeat;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.team-container .team-member-5 {
  grid-column: 5 / span 4;
  grid-row: 2 / span 1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer5.png") lightgray 50% / cover no-repeat;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.team-container .team-member-6 {
  grid-column: 9 / span 4;
  grid-row: 2 / span 1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer6.png") lightgray 50% / cover no-repeat;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  left: 15px;
  right: 0;
  bottom: 15px;
}
.text-overlay h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  line-height: 110%; /* 24px */
}
.text-overlay p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 400;
  line-height: 115%; /* 16.8px */
}
/* footer styles */
.footer-section {
  margin-top: 70px;
  background-color: #222;
  padding: 40px 0;
}
.footer-section .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .footer-left-content {
  width: 40%;
}
.footer-left-content .footer-left-title {
  color: #e6533c;
  font-size: 53px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%; /* 84px */
}
.footer-left-content .footer-desc {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 171.429% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
.footer-content .footer-right-content {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.footer-right-content .footer-bio {
}
.footer-bio .bio-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  margin-bottom: 20px;
}
.footer-bio p {
  color: rgba(255, 255, 255, 0.5);

  /* P1 Main/Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
  margin-top: 12px;
  font-size: 16px;
}

.footer-section .bottom {
}
.bottom .horiz {
  color: rgba(255, 255, 255, 0.5); /* 120% */
}
.bottom .footer-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; /* 120% */
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 20px;
}
