@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* 
shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
}
.container {
  border: 2px solid purple;
  width: 80%;
  max-width: 1440px;
  min-height: 200px;
  margin: 0 auto;
}
.special {
  border-radius: 46px;
  background: #e6533c;
}
section {
  margin-top: 75px;
}
.primary-btn {
  /* 122.222% */
  background: #e6533c;
  border-radius: 45px;
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 17px; /* 122.222% */
  border: 1px solid #fff;
  cursor: pointer;
}
/* header starts */
.header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  margin-top: 35px;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-title {
  color: #e6533c;
  font-size: 29px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%; /* 43.2px */
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  padding: 7px 19px;
}
/* banner starts here */
.banner {
  color: #fff;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner-content {
  width: 56%;
}
.banner-content .banner-title {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 93.6px */
}
.banner-content .banner-desc {
  color: rgba(255, 255, 255, 0.5);

  /* body-text */
  font-size: 13px;
  line-height: 18px; /* 150% */
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.banner-content .banner-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.banner-btn .secondary-btn {
  border-radius: 45px;
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 17px; /* 122.222% */
  background-color: #3a3a3a;
  border: 1px solid #fff;
  cursor: pointer;
}
.banner .banner-image {
  position: relative;
  width: 37%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-image .first-border {
  height: 56px;
  width: 145px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  left: -21%;
  top: 82%;
}
.first-border .border-left {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #e6533c;
}
.border-right h3,
.second-border h3 {
  color: var(--Text-1, #fafaf9);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
}

.border-right p,
.second-border p {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));

  /* body-text */
  font-size: 12px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.banner-image .second-border {
  height: 56px;
  width: 145px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 23%;
  left: 57%;
}
/* habit styles */
.habit {
}
.habit .habit-title {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
  text-align: center;
}
.habit .habit-desc {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px; /* 171.429% */
  letter-spacing: 0.3px;
}
.habit .habit-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.habit-container .habit-card {
}
.habit-card img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.habit-card .card-title {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 115%; /* 21.6px */
}
.habit-card .card-desc {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px; /* 128.571% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
/* run section styles */
.run {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px 22px 38px;
  border-radius: 18px;
  background: #222;
}
.run .run-content {
  width: 45%;
}
.run-content .run-title {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  line-height: 110%; /* 57.6px */
}
.run-content .run-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 171.429% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
.run-content .run-btn {
  margin-top: 15px;
}
.run .run-image {
  width: 45%;
}
.run-image img {
  width: 100%;
  border-radius: 15px;
}
